<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
    <li><a href="musiclist">排行榜</a></li><br>
    <li><a href="musiclist?singerId=336">周杰伦</a></li><br>
    <li><a href="musiclist?singerId=5371">G.E.M.邓紫棋</a></li><br>
    <li><a href="musiclist?singerId=561">魏晨</a></li><br>
    <li><a href="musiclist?singerId=1062">林俊杰</a></li><br>
    <li><a href="musiclist?singerId=947">薛之谦</a></li><br>
    <li><a href="musiclist?singerId=226572">Alan Walker</a></li><br>
    <li><a href="musiclist?singerId=896">张学友</a></li><br>
    <li><a href="musiclist?singerId=61144">李荣浩</a></li><br>
    <li><a href="musiclist?singerId=47">陈奕迅</a></li><br>
    <li><a href="musiclist?singerId=125910">华晨宇</a></li><br>
    <li><a href="musiclist?singerId=3122212">隔壁老樊</a></li><br>
    <li><a href="musiclist?singerId=522">蔡健雅</a></li><br>
    <li><a href="musiclist?singerId=1367">杨千嬅</a></li><br>
</ul>
</body>
</html>